* {
	margin: 0;
}
html,
body {
	height: 100%;
}
.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -2rem;
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer,
.page-wrap:after {
	height: 2rem;
}

#jsoneditor {
	width: 80%;
	margin: 0 auto;
	margin-top: 2rem;
	height: 70vh;
}
