#tree h1 {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#footer_line {
	margin-top: 0rem;
}

#question {
	-webkit-box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
	-moz-box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
	box-shadow: 3px 3px 5px 0px rgba(199, 199, 199, 1);
	margin: 0 auto;
	width: 60%;
	margin-top: 0.5rem;
	background-color: #e5e5e5;
	transition: all 0.2s ease-in-out;
	max-width: 50rem;
}

#question h2 {
	margin: 0 2rem;
	text-align: center;
}

#question p {
	text-align: center;
	margin: 0 2rem;
}

#question #buttons {
	text-align: center;
}

#question .answer_button {
	-webkit-box-shadow: 2px 2px 5px 0px rgba(199, 199, 199, 1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(199, 199, 199, 1);
	box-shadow: 2px 2px 5px 0px rgba(199, 199, 199, 1);
	display: inline-block;
	text-align: center;
	padding: 1rem 2rem;
	border: 0.1rem solid #00c6ff;
	cursor: pointer;
	margin-left: 2rem;
	transition: all 0.1s ease-in-out;
	border-radius: 0.2rem;
}

#question .answer_button:first-of-type {
	margin-left: 0;
}

#question .answer_button:hover {
	background-color: #00c6ff;
	font-weight: bold;
	color: #ffffff;
	transform: scale(1.2);
}

#question .answer_button:active {
	background-color: #00c6ff;
	font-weight: bold;
	color: #ffffff;
	transform: scale(1);
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.bread_crumb {
	cursor: pointer;
	display: inline-block;
	transition: all 0.1s ease-in-out;
}

.bread_crumb:hover,
bread_crumb:active {
	color: #00c6ff;
}

#bread_crumbs {
	width: 58%;
	max-width: 49rem;
	font-size: 0.9rem;
	margin: 0 auto;
}

* {
	margin: 0;
}
html,
body {
	height: 100%;
}
.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -2rem;
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer,
.page-wrap:after {
	height: 2rem;
}
