<section>
  <div class="page-header">
    <h1>Novicetrees</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="novicetree in vm.novicetrees"
       ui-sref="novicetrees.view({ novicetreeId: novicetree._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="novicetree.created | date:'mediumDate'"></span>
        by
        <span ng-if="novicetree.user" ng-bind="novicetree.user.displayName"></span>
        <span ng-if="!novicetree.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="novicetree.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.novicetrees.$resolved && !vm.novicetrees.length">
    No Novicetrees yet, why don't you <a ui-sref="novicetrees.create">create one</a>?
  </div>
</section>
