<section ng-controller="NoviceTreeController">
 <img src = "modules/novice-tree/client/img/logo.png" alt = "Trap Source logo"	style="width:294px;height:102x;"">
  <link rel="stylesheet" href="public/lib/angular-ui-tree/dist/angular-ui-tree.css">
  <script type="text/javascript" src="public/lib/angular-ui-tree/dist/angular-ui-tree.js"></script>
  	<div ui-tree>
  	  <ol ui-tree-nodes="" ng-model="list">
  	    <li ng-repeat="item in list" ui-tree-node>
  	      <div ui-tree-handle>
  	        {{item.title}}
  	      </div>
  	      <ol ui-tree-nodes="" ng-model="item.items">
  	        <li ng-repeat="subItem in item.items" ui-tree-node>
  	          <div ui-tree-handle>
  	            {{subItem.title}}
  	          </div>
  	        </li>
  	      </ol>
  	    </li>
  	  </ol>
  	</div>
  	<div ui-tree="treeOptions">
  	  <ol ui-tree-nodes ng-model="nodes">
  	    <li ng-repeat="node in nodes" ui-tree-node>{{node.title}}</li>
  	  </ol>
  	</div>
</section>

